env/
.ropeproject
#data/
*/__pycache__/
__pycache__/
model_epoch*
#checkpoint_epoch*
*report.txt
*.png
*_[0-9]*.npy
data/models/
augmented/
raw/
notebooks/
util/
.env
.DS_Store
*/.DS_Store
*DS_Store
.python-version
*.npy
*processed_*
*.zip
recordings*
raw_backup*
data/models/*
results/*
logs/*
